@model IEnumerable<Locadora_de_veiculos.Models.Veiculo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Veículos";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de Veículos Registrados
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VeiculoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Km)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Combustivel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cor)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem => item.VeiculoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Km)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Combustivel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cor)
                        </td>
                        <td>
                            @Html.ActionLink("Alterar", "Edit", new { id = item.VeiculoID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.VeiculoID }) |
                            @Html.ActionLink("Apagar", "Delete", new { id = item.VeiculoID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Inserir Novo Veículo", "Create", null, new { @class = "btn btn-success" })
    </div>
</div>

@section styles{
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}

@section ScriptPage{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable({ "order": [[1, "asc"]] });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liVeiculos').addClass("active")
        });
    </script>
}



@*// -- Código Antigo -- \\*@
@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Registrando um Novo Veículo";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Km)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Combustivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cor)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Combustivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.VeiculoID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.VeiculoID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.VeiculoID })
                </td>
            </tr>
        }

        </table>
    </body>
    </html>*@
